
.card-borders {
  border-radius: 15%;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  overflow: hidden;
}

.card {
  position: relative;
  display: inline-block;

  border: 2px solid #fda;
  border-top-width: 1px;

  transform: scale(-1,1) rotateY(0deg);
  opacity:1;

  box-shadow: 0 0 1px 1px rgba(0,0,0,0.5) inset, -1px 1px 4px 1px black;
  margin-left:0;

  transition: 0.5s ease-out;
  transition-property: width, height, margin-top, margin-left, transform, opacity;
}

#deck {
  perspective: 300px;
}

#deck .card.hidden {
  position: absolute;

  display: inline-block;

  width: 37%;
  height: 96px;

  opacity: 0;
  transform: scale(-1,1) rotateY(-90deg);

  margin-top: 4px;
  margin-left:-30px;
}

.card .background {
  position: relative;
  height: 90%;
  top: 9%;

  border: 2px solid;

  box-shadow: 0 0 0 1px rgba(0,0,0,0.5);

  background-color: inherit;

  background-image:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQYV2NkgIKGhob/ICYjhgBMpqGhASzJiC4AAJQODQO/pM92AAAAAElFTkSuQmCC),
    linear-gradient(to bottom, #ddd 0%, #222 100%);
  background-blend-mode: luminosity;
  background-repeat: repeat,no-repeat;
}

.card .timer {
  position: absolute;
  height: 100%;
  width: 100%;

  background: rgba(0,0,0,0.5);

  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.paused {
  animation-play-state: paused;
}
@keyframes timer {
  0% {width: 0;}
  100% {width: 100%;}
}
.one .card {
  width: 66%;
  height: 145px;
  margin-top: -6px;
}
.two .card {
  width: 44%;
  height: 96px;
  margin-top: 10px;
}

.card .image {
  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-color: rgba(128,128,128,0.4);
}

.card.Kaban {
  background-color: #2e7;
}
.card.Kaban .timer.play {
  animation-name: timer;
}
.card.Kaban .background {
  border-color: #2e7;
}
.card.Kaban .image {
  background-image: url(./image/kaban.png);
  background-size: 110%;
  background-position-y: 10%;
  background-position-x: 90%;
}

.card.Serval {
  background-color: #fa3;
}
.card.Serval .background {
  border-color: #fa3;
}
.card.Serval .image {
  background-image: url(./image/serval.png);
  background-size: 120%;
  background-position-y: 30%;
}
.card.Serval .timer {
  transition: width linear;
  transition-duration: 0.5s;
}
